@model IEnumerable<Domain.Character>


<p>You have @ViewBag.Points points</p>
@foreach (var character in Model)
{
    ViewBag.IsVoted = (ViewBag.Votes as HashSet<int>).Contains(character.Id);
    ViewBag.CanVote = ViewBag.Points >= character.Cost.Value;
    Html.RenderPartial("_CharacterCard", character);
}
