@using DepenedcyInjection.Infrastructure
@using Ninject
@model IEnumerable<Domain.Models.CharacterViewModel>


<p>You have @ViewBag.Points points</p>
@foreach (var characterViewModel in Model)
{
    Html.RenderPartial("_CharacterCard", characterViewModel);
}
