@model PagedList.IPagedList<Domain.Character>
@using DepenedcyInjection.Controllers
@using PagedList.Mvc;
@{
    ViewBag.Title = "Products";
    ViewBag.VotingDisabled = false;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Characters</h2>
@{
    Html.RenderPartial("_CharacterList", Model);
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action(ViewBag.Action,
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@Scripts.Render("~/js/votes")