@using Domain
@model IEnumerable<Character>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var property in typeof (Character).GetProperties().Where(x => x.Name != "Id"))
{
    <label for="@property.Name">@property.Name</label>
    <input class="input-group" id="@property.Name" type="text" name="fieldValue"/>

    <br/>
}
    
<input id="yolo" type="submit" value="Search"/>

<div class="content">
</div>

@Scripts.Render("~/js/search")
