@using Domain
@model IEnumerable<Character>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Search", "Character", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "content2"
}))
{
    <div class="form-horizontal">
        @foreach (var property in typeof (Character).GetProperties().Where(x => x.Name != "Id"))
        {
            <div class="form-group">
                @Html.Label(property.Name)
                @Html.Editor(property.Name)
            </div>
        }
        <input type="submit" value="Search" class="btn btn-default"/>
    </div>
}

<div id="content2"></div>

@Scripts.Render("~/js/search")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
