body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.image {
    width: 80%;
}

.left-side {
    float: left;
    width: 70%;
}

.right-side {
    float: right;
    width: 30%;
    text-align: right;
}

.center {
    text-align: center;
    align-content: center;
}

.aligner {
    margin: 0 auto;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin: 5%;
}

.card img {
    display: block;
    float: left;
    width: 40%;
    max-width: 300px;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

.card .information {
    width: 60%;
    float: right;
}

.card p {
    width: fit-content;
    margin: 15px;
    font-size: 1.5em;
    padding: 3px 15px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
}

.card p:hover {
    /*border: 1px solid black;*/
    box-shadow: 1px 2px 3px 1px #7f7f7f;
    box-shadow: 1px 2px 3px 1px rgba(127, 127, 127, 200);
    border-radius: 4px;
}

.card button {
    /*float: left;*/
    transform: translateX(-98%);
    border-radius: 0;
    border-bottom-left-radius: 10px;
    
}